body {
    font-family: Arial, sans-serif;
    background-color: #03031d;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.chat-container {
    height: 80vh;
    width: 90vw;
    max-width: 700px;
    margin: 5vh auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

#messagesContainer {
    height: 50vh;
    width: 100%;
    max-width: 380px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    scrollbar-width: none;
}

.message {
    padding: 5px;
    min-width: 100%;
    word-wrap: break-word;
}

.box {
    position: absolute;
    z-index: -1;
    transition: 5s ease-in-out;
    background: rgb(12, 26, 199);
    background: linear-gradient(49deg, rgba(12, 26, 199, 0.54) 0%, rgba(235, 15, 233, 0.35) 78%);
}

#one {
    height: 60vh;
    width: 90vw;
    max-width: 700px;
    border-radius: 30% 70% 50% 50% / 32% 46% 54% 68%;
}

#two {
    height: 50vh;
    width: 70vw;
    max-width: 500px;
    border-radius: 51% 49% 63% 37% / 76% 70% 30% 24%;
}

#three {
    height: 55vh;
    width: 80vw;
    max-width: 600px;
    border-radius: 32% 68% 63% 37% / 44% 36% 64% 56%;
}

.actions {
    height: auto;
    width: 100%;
    max-width: 380px;
    display: flex;
    align-items: center;
}

input {
    background-color: rgb(19, 8, 67);
    position: relative;
    border: none;
    flex-grow: 1;
    height: 50px;
    border-radius: 10px;
    color: whitesmoke;
    margin-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

input::placeholder {
    color: white;
    text-align: center;
}

button {
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

#sendMessage {
    width: 70px;
    background-color: rgb(60, 137, 231);
    font-size: larger;
}

#clearChat {
    width: 100px;
    background-color: rgb(231, 91, 59);
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .chat-container {
        width: 95vw;
        margin: 2vh auto;
    }

    #messagesContainer {
        height: 60vh;
        width: 100%;
    }

    .actions{
        position: absolute;
        bottom: 2rem;
    }
    input {
        width: 60%;
    }

    button {
        width: auto;
    }
}