body {
    font-family: Arial, sans-serif;
    background-color: #03031d;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12);
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 5px #259c08;
    color: #0ad406;
    text-shadow: 2px 1px #00040a;
    text-align: center;
    box-sizing: border-box;
}

.modal input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12);
    box-shadow: 0px 0px 2px #0396ff;
    border-radius: 4px;
}

.modal input::placeholder {
    color: #0396ff;
    text-shadow: 2px 1px #00040a;
}

.modal input:hover {
    background-color: rgba(7, 73, 149, 0.35);
   
}

.modal button {
    margin-top: 15px;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:hover {
    background-color: rgba(220, 128, 1, 0.33);
    color: #ffb40b;
}

.chat-container {
    height: 80vh;
    width: 90vw;
    max-width: 700px;
    margin: 5vh auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

#messagesContainer {
    height: 50vh;
    width: 100%;
    max-width: 380px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    scrollbar-width: none;
}

.message {
    padding: 5px;
    min-width: 100%;
    word-wrap: break-word;
}

.box {
    position: absolute;
    z-index: -1;
    transition: 5s ease-in-out;
    background: rgb(12, 26, 199);
    background: linear-gradient(49deg, rgba(12, 26, 199, 0.54) 0%, rgba(235, 15, 233, 0.35) 78%);
}

#one {
    height: 60vh;
    width: 90vw;
    max-width: 700px;
    border-radius: 30% 70% 50% 50% / 32% 46% 54% 68%;
}

#two {
    height: 50vh;
    width: 70vw;
    max-width: 500px;
    border-radius: 51% 49% 63% 37% / 76% 70% 30% 24%;
}

#three {
    height: 55vh;
    width: 80vw;
    max-width: 600px;
    border-radius: 32% 68% 63% 37% / 44% 36% 64% 56%;
}

.actions {
    height: auto;
    width: 100%;
    max-width: 380px;
    display: flex;
    align-items: center;
}

input {
    background-color: rgb(19, 8, 67);
    position: relative;
    border: none;
    flex-grow: 1;
    height: 50px;
    border-radius: 10px;
    color: whitesmoke;
    margin-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

input::placeholder {
    color: white;
    text-align: center;
}

button {
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

#sendMessage {
    width: 70px;
    background-color: rgb(25, 164, 37);
    color: white;
    font-size: larger;
}

#clearChat {
    width: 100px;
    background-color: rgb(231, 91, 59);
    margin-left: 20px;

}
#pass{
    position: absolute;
    left: 50%;
    top: 50%;
}
#copyright{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-size: small;
    text-align: right;
}

@media screen and (max-width: 600px) {
    .chat-container {
        width: 95vw;
        margin: 2vh auto;
    }

    #messagesContainer {
        height: 60vh;
        width: 100%;
    }

    .actions{
        position: absolute;
        bottom: 2rem;
    }
    input {
        width: 60%;
    }

    button {
        width: auto;
    }
    .modal-content {
        width: 90%;
        margin: 20% auto;
    }
    
    .modal input {
        width: 100%;
    }

    #colyright{
        z-index: -1;
        opacity: 0.3;
    }
}

